<div class="container">
    <div class="card mt-4">
        <!-- <form *ngIf [formGroup] = "registorForm" (ngSubmit)="register()"> 
        <div class="card-header bg-primary text-white display-4">
            Register Form
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="userName">User Name:*</label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter user name" 
                    id="userName"
                    name="userName" 
                    formControlName="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input 
                    type="password" 
                    class="form-control mx-2" 
                    placeholder="Enter password" 
                    id="password"
                    name="password"
                    formControlName="password">
            </div>
        </div>    
        <div class="card-footer">
            <button 
                type="submit" 
                class="btn btn-primary">Register</button>
        </div>
        </form> -->
        <form [formGroup] = "registorForm" (ngSubmit)="register()"> 
        <div class="card-header bg-primary text-white display-4">
            Customer Register Form
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="userName">User Name:*</label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter user name" 
                    id="userName"
                    name="userName" 
                    formControlName="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input 
                    type="password" 
                    class="form-control mx-2" 
                    placeholder="Enter password" 
                    id="password"
                    name="password"
                    formControlName="password">
            </div>
            <div class="form-group">
                <label for="customerName">Customer Name:</label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter Customer Name" 
                    id="customerName"
                    name="customerName"
                    formControlName="customerName">
            </div>
            <div class="form-group">
                <label for="phoneNo">Phone No:</label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter phone no" 
                    id="phoneNo"
                    name="phoneNo"
                    formControlName="phoneNo">
            </div>
            <div class="form-group">
                <label for="emailId">Email:</label>
                <input 
                    type="email" 
                    class="form-control mx-2" 
                    placeholder="Enter email" 
                    id="emailId"
                    name="emailId"
                    formControlName="emailId">
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter age" 
                    id="age"
                    name="age"
                    formControlName="age">
            </div>
            <!-- <div class="form-group">
                <label for="gender">gender:</label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter gender" 
                    id="gender"
                    name="gender"
                    formControlName="gender">
            </div> -->

            <div class="form-group">
                <label for="gender">Gender:</label>
                <select class="form-control" id="gender" name="gender"  formControlName="gender">
                  <option>male</option>
                  <option>female</option>
                  <option>other</option>
                </select>
            </div>
        </div>    
        <div class="card-footer">
            <button 
                type="submit" 
                class="btn btn-primary">Register</button>
        </div>
        </form>
    </div>
</div>
