<div class="container register">
    <div class="card mt-4">
        <form [formGroup] = "customerForm" (ngSubmit)="registerCustomer()"> 
            <div class="card-header bg-primary text-white">
                Customer Register Form
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="userName">User Name:*</label>
                    <input 
                        type="text" 
                        class="form-control mx-2" 
                        placeholder="Enter user name" 
                        id="userName"
                        name="userName" 
                        formControlName="username">
                        <span *ngIf="customerForm.get('username')?.invalid && (customerForm.get('username')?.dirty || customerForm.get('username')?.touched)"
                        class="text-danger small">
                        Username must be atleast 4 characters!
                            </span>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input 
                        type="password" 
                        class="form-control mx-2" 
                        placeholder="Enter password" 
                        id="password"
                        name="password"
                        formControlName="password">
                        <span *ngIf="customerForm.get('password')?.invalid && (customerForm.get('password')?.dirty || customerForm.get('password')?.touched)"
                        class="text-danger small">
                        Password must be strong!
                        </span>
                </div>
                <div class="form-group">
                    <label for="customerName">Customer Name:</label>
                    <input 
                        type="text" 
                        class="form-control mx-2" 
                        placeholder="Enter Customer Name" 
                        id="customerName"
                        name="customerName"
                        formControlName="customerName">
                        <span *ngIf="customerForm.get('customerName')?.invalid && (customerForm.get('customerName')?.dirty || customerForm.get('customerName')?.touched)"
                        class="text-danger small">
                             Name must contain alteast 3 characters!
                        </span>
                </div>
                <div class="form-group">
                    <label for="phoneNo">Phone No:</label>
                    <input 
                        type="text" 
                        class="form-control mx-2" 
                        placeholder="Enter phone no" 
                        id="phoneNo"
                        name="phoneNo"
                        formControlName="phoneNo">
                        <span *ngIf="customerForm.get('phoneNo')?.invalid && (customerForm.get('phoneNo')?.dirty || customerForm.get('phoneNo')?.touched)"
                        class="text-danger small">
                             Phone number must start with 6-9 and be 10 digits!
                        </span>
                </div>
                <div class="form-group">
                    <label for="emailId">Email:</label>
                    <input 
                        type="email" 
                        class="form-control mx-2" 
                        placeholder="Enter email" 
                        id="emailId"
                        name="emailId"
                        formControlName="emailId">
                        <span *ngIf="customerForm.get('emailId')?.invalid && (customerForm.get('emailId')?.dirty || customerForm.get('emailId')?.touched)"
                        class="text-danger small">
                             enter valid email!
                        </span>
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input 
                        type="text" 
                        class="form-control mx-2" 
                        placeholder="Enter age" 
                        id="age"
                        name="age"
                        formControlName="age">
                        <span *ngIf="customerForm.get('age')?.invalid && (customerForm.get('age')?.dirty || customerForm.get('age')?.touched)"
                        class="text-danger small">
                             Age must be atleast 18!
                        </span>
                </div>
                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <select class="form-control" id="gender" name="gender"  formControlName="gender">
                      <option>male</option>
                      <option>female</option>
                      <option>other</option>
                    </select>
                    <span *ngIf="customerForm.get('gender')?.invalid && (customerForm.get('gender')?.dirty || customerForm.get('gender')?.touched)"
                    class="text-danger small">
                         gender required
                    </span>
                </div>
            </div>    
            <div class="card-footer">
                <button 
                    type="submit" 
                    [disabled]="!customerForm.valid"
                    class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

